[run]
branch = True
source_pkgs = wdl2cwl

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    wdl2cwl/tests/*
